<header>
  <div class="view hm-purple-slight jarallax" data-jarallax='{"speed": 0.2}' style="background-image: url('https://mdbootstrap.com/img/Photos/Others/gradient2.png');">
      <div class="full-bg-img">
          <div class="container flex-center">
            <div class="row pt-4 mt-3 ">
              <a  routerLink="" class=" align-items-start active" height="370" id="items">
                <div class="col-md-8 wow fadeIn mb-3" >
                    <img src="https://scontent-atl3-1.cdninstagram.com/vp/d62a9adf196a8544180b1a5dd1ac07b1/5B4A5D76/t51.2885-15/e35/26427522_1894765620837304_2775544115922731008_n.jpg" class="img" alt="" id="img" height="140">
                   
                </div>
              </a>
            </div>

            <div class="row pt-4 mt-3">
                <a  routerLink="" class=" align-items-start active" height="370" id="items">
                    <div class="col-md-8 wow fadeIn mb-3" >
                        <img src="https://scontent-atl3-1.cdninstagram.com/vp/d62a9adf196a8544180b1a5dd1ac07b1/5B4A5D76/t51.2885-15/e35/26427522_1894765620837304_2775544115922731008_n.jpg" class="img" alt="" id="img" height="140">
                               
                    </div>
                </a>
            </div>

          
         </div>
      </div>
  </div>
</header> 

