<div class="container">
        <div class="row">
            <div class="heading-title col-md-12 " id="heading-title" align="center">
                <h3 class="text-uppercase" align="center">Our professionals </h3>
                <p class="p-top-30 half-txt" align="center">Meet the people who make this project possible. get social :) </p>
            </div>

            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="https://instagram.fdar5-1.fna.fbcdn.net/vp/d62a9adf196a8544180b1a5dd1ac07b1/5B4A5D76/t51.2885-15/e35/26427522_1894765620837304_2775544115922731008_n.jpg" alt="team member" class="img-responsive" height="270">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>hello  !</h4>
                            <p>I love to introduce myself as a hardcore Web Designer.</p>
                        </div>
                        <div class="social-icons icon-circle icon-rotate ">
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-google-plus"></i></a>
                            <a href=""><i class="fa fa-github-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h5>waploaj</h5>
                    <span>founder & ceo</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="https://instagram.fdar5-1.fna.fbcdn.net/vp/188964a181b47f88516d7d15da803a34/5B292190/t51.2885-15/e35/26870460_400575023726341_1523415695776284672_n.jpg" alt="team member" class="img-responsive" height="270" id="img-reponsive">
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>kenichiwa!</h4>
                            <p>I love to introduce myself as a idea man.</p>
                        </div>
                        <div class="social-icons icon-circle icon-zoom  ">
                            <a href="#"><i class="fa fa-linkedin-square"></i></a>
                            <a href="#"><i class="fa fa-twitter"></i></a>
                            <a href="#"><i class="fa fa-stack-overflow"></i></a>
                            <a href=""><i class="fa fa-github-alt"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h5>waheed</h5>
                    <span>HR Manager</span>
                </div>
            </div>
            <div class="col-md-4 col-sm-4">
                <div class="team-member">
                    <div class="team-img">
                        <img src="https://instagram.fdar5-1.fna.fbcdn.net/vp/188964a181b47f88516d7d15da803a34/5B292190/t51.2885-15/e35/26870460_400575023726341_1523415695776284672_n.jpg" alt="team member" class="img-responsive" height="270" >
                    </div>
                    <div class="team-hover">
                        <div class="desk">
                            <h4>I love to design</h4>
                            <p>I love to introduce myself as a  Designer.</p>
                        </div>
                        <div class="social-icons icon-circle icon-rotate ">
                            <a href="#"><i class="fa fa-facebook fa-3x"></i></a>
                            <a href="#"><i class="fa fa-instagram"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                        </div>
                    </div>
                </div>
                <div class="team-title">
                    <h5>fatma</h5>
                    <span>Marketing Manager</span>
                </div>
            </div>
            
   <div class="col-md-4">

                    <!--Card-->
                    <div class="card card-cascade">
    
                     <!--Card image-->


      <div class="sali" mdbRippleRadius>
                            <img src="https://instagram.fdar5-1.fna.fbcdn.net/vp/188964a181b47f88516d7d15da803a34/5B292190/t51.2885-15/e35/26870460_400575023726341_1523415695776284672_n.jpg" alt="team member" class="img-responsive" height="250" width="" id="img-reponsive">

                              <a>
                                 <div class="mask"></div>
                              </a>
                        </div>
            <!--/.Card image-->
    
            <!--Card content-->
            <div class="card-body text-center">
                <!--Title-->
                <h4 class="card-title"><strong>Billy Cullen</strong></h4>
                <h5>Web developer</h5>
    
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
                    sunt, quod quibusdam.
                </p>
    
                <!--Facebook-->
                <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-facebook"></i></a>
                <!--Twitter-->
                <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-twitter"></i></a>
                <!--Google +-->
                <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-dribbble"></i></a>
    
            </div>
            <!--/.Card content-->
    
        </div>
        <!--/.Card-->
    
    </div>    
                      
   <div class="col-md-4">

        <!--Card-->
        <div class="card card-cascade">

         <!--Card image-->


<div class="sali" mdbRippleRadius>
                <img src="https://instagram.fdar5-1.fna.fbcdn.net/vp/188964a181b47f88516d7d15da803a34/5B292190/t51.2885-15/e35/26870460_400575023726341_1523415695776284672_n.jpg" alt="team member" class="img-responsive" height="250" width="" id="img-reponsive">

                  <a>
                     <div class="mask"></div>
                  </a>
            </div>
<!--/.Card image-->

<!--Card content-->
<div class="card-body text-center">
    <!--Title-->
    <h4 class="card-title"><strong>Billy Cullen</strong></h4>
    <h5>Web developer</h5>

    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
        sunt, quod quibusdam.
    </p>

    <!--Facebook-->
    <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-facebook"></i></a>
    <!--Twitter-->
    <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-twitter"></i></a>
    <!--Google +-->
    <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-dribbble"></i></a>

</div>
<!--/.Card content-->

</div>
<!--/.Card-->

</div>    
            
<div class="col-md-4">

        <!--Card-->
        <div class="card card-cascade">

         <!--Card image-->


<div class="sali" mdbRippleRadius>
                <img src="https://instagram.fdar5-1.fna.fbcdn.net/vp/188964a181b47f88516d7d15da803a34/5B292190/t51.2885-15/e35/26870460_400575023726341_1523415695776284672_n.jpg" alt="team member" class="img-responsive" height="250" width="" id="img-reponsive">

                  <a>
                     <div class="mask"></div>
                  </a>
            </div>
<!--/.Card image-->

<!--Card content-->
<div class="card-body text-center">
    <!--Title-->
    <h4 class="card-title"><strong>Billy Cullen</strong></h4>
    <h5>Web developer</h5>

    <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus, ex, recusandae. Facere modi
        sunt, quod quibusdam.
    </p>

    <!--Facebook-->
    <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-facebook"></i></a>
    <!--Twitter-->
    <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-twitter"></i></a>
    <!--Google +-->
    <a type="button" class="social-icons icon-circle icon-rotate" mdbRippleRadius><i class="fa fa-dribbble"></i></a>

</div>
<!--/.Card content-->

</div>
<!--/.Card-->

</div>    

        </div>