
<header class="hudo" id="hudo">
     <!-- Intro Section -->
    <div class="view hm-purple-slight jarallax" data-jarallax='{"speed": 0.2}'>
      <div class="full-bg-img">
          <div class="container flex-center">
              <div class="row pt-5 mt-3">
                  <div class="col-md-12 wow fadeIn mb-3">
                      <div class="text-center">
                          <ul>
                              <li>
                                  <h1 class="animated bounce infinite">welcome to E-pesa</h1></li>
                              <li>
                                  <h5 class="mb-5 wow fadeInUp" data-wow-delay="0.2s">with few line of code! you can implement the payment method in your app:)</h5>
                              </li>
                              <li class="wow fadeInUp" data-wow-delay="0.4s">
                                  <a class="btn btn-secondary btn-rounded waves-light" mdbRippleRadius routerLink="/signup"><i class="fa fa-user left" ></i> Sign up!</a>
                                  <a class="btn btn-outline-secondary btn-rounded waves-light" mdbRippleRadius routerLink="learn"><i class="fa fa-book left"></i> Learn more</a>
                              </li>
                          </ul>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
  <script>
      wow = new WOW({
    boxClass: 'wow', // default
    animateClass: 'animated', // default
    offset: 0, // default
    mobile: true, // default
    live: true // default
})
wow.init();
  </script>
</header>